<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Socket.io Chat Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h3>Socket.io Chat Example</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="msgForm">Message: </label>
        <input type="text" class="form-control" id="msgForm">
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <div id="chatLogs"></div>
  </div>
  <button id="disconnected">해제</button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  $(function(){
    // socket.io 서버에 접속한다
    var socket = io();
    var userName = makeRandomName()

    // 서버로 자신의 정보를 전송한다.
    socket.emit("login", {
      // name: "ungmo2",
      name: userName,
      userid: "ungmo2@gmail.com"
    });

    // 서버로부터의 메시지가 수신되면
    socket.on("login", function(data) {
      $("#chatLogs").append("<div><strong>" + data + "</strong> has joined</div>");
    });

    // 상대방에게 보이는 화면: 서버로부터의 메시지가 수신되면
    socket.on("chat", function(data) {
      $("#chatLogs").append("<div>" + data.msg + " : from <strong>ㅁㅁㅁㅁㅁ" + data.from.name + "</strong></div>");
    });

    // 상대방에게 보이는 화면: 서버로부터의 거래프로세스가 수신되면
    socket.on("trade", function(data) {
      if(data.status !== 0) {
        

          switch (data.command) {
          case 0:
            $("#chatLogs").append("<div>상대방이 거래 요청을 하였습니다. 거래를 원하시면 아래버튼을 눌러주세요.<br><button class='' value='"+ data.btn.value + "'>" + data.btn.text + "</strong></div>");
     
            break;
          case 1:
            //$("#chatLogs").append("<div style='color:red'>거래를 시작하고 싶으시면 <em>@마하 거래시작</em> 라고 입력해주세요<br>궁금한게 있으시면 <em>@마하 거래안내</em> 라고 입력해주세요</div>");
           
            break;
        
          default:
            break;
        }
      
      }
    });

    // 나한테 보이는 화면: Send 버튼이 클릭되면
    $("form").submit(function(e) {
      e.preventDefault();
      var $msgForm = $("#msgForm");
      var msgVal = $msgForm.val();
      var btnTxt = "";

      var arrComand = ["거래시작", "거래안내"];
      var isCommand = false;
      // msgForm가 "@마하 "로 시작하는지 체크
      // 뒤에 붙는 단어로 거래프로세스 체크
      var regTradingTxt = /^@마하 /;

      if (regTradingTxt.test(msgVal)) {
        console.log("거래프로세스");
        // 서버로 거래프로세스임을 알린다.
        btnTxt = msgVal.replace('@마하 ', '');

        var i;
        for (i = 0; i < arrComand.length; i++) {
          if(arrComand[i] == btnTxt){
            isCommand = true;
            break;
          }
        }

        if(isCommand) {
          //$("#chatLogs").append("<div><button class='' value=''>" + btnTxt + "</button></div>");
          
          switch (i) {
            case 0:
              $("#chatLogs").append("<div>상대방에게 거래요청을 하였습니다. 상대방이 거래요청을 누르면 진행됩니다.</div>");
              socket.emit("trade", { msg: btnTxt, command: 0});
              
              break;
            case 1:
              $("#chatLogs").append("<div style='color:red'>거래를 시작하고 싶으시면 <em>@마하 거래시작</em> 라고 입력해주세요<br>궁금한게 있으시면 <em>@마하 거래안내</em> 라고 입력해주세요</div>");
              socket.emit("trade", { msg: btnTxt, command: 1});
              
              break;
          
            default:
              break;
          }

        } else {
          $("#chatLogs").append("<div>"+msgVal+" 라는 명령어는 올바르지 않습니다. 다시 확인하시고 입력해주세요.</div>");
        }

      } else {
        console.log("채팅");
        // 아닐 경우 서버로 메시지를 전송한다.
        socket.emit("chat", { msg: msgVal });
        $("#chatLogs").append("<div>" + msgVal + " : from <strong>" + userName + "</strong></div>");
        
      }
      
      $msgForm.val("");
    });

    $("#disconnected").on("click", function(e){
      socket.emit("forceDisconnect");
    })

    function makeRandomName(){
      var name = "";
      var possible = "abcdefghijklmnopqrstuvwxyz";
      for( var i = 0; i < 3; i++ ) {
        name += possible.charAt(Math.floor(Math.random() * possible.length));
      }
      return name;
    }
  });
  </script>
</body>
</html>