<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link href="/css/vtr.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="chat_wrap" id="chatWrap">
        <header class="header">
            <h1>세라핌 클레압 팝니다</h1>
        </header>
        <div class="content" id="content">
                <div>
                    my Name <input type="text" id="nickname" readonly/><br>
                    ohher Name <input type="text" id="othername" readonly/> 
                </div>
            <!--
            <em class="other_id">other</em>
            <div class="bubble other_speech"><p>안녕하세요 &#128513;</p></div>
            <div class="bubble other_speech">
                <p>
                    거래 요청 드립니다
                    <span class="chat_time">오전 1:47</span>
                </p>
            </div>
            <em class="my_id">imymemine</em>
            <div class="bubble my_speech"><p>넹 &#128513;</p></div>
            <div class="bubble my_speech">
                <p>
                    말씀하세요.말씀하세요.말씀하세요.말씀하세요.말씀하세요.말씀하세요.말씀하세요.말씀하세요.말씀하세요.말씀하세요.
                    <span class="chat_time">오후 11:07</span>
                </p>
            </div>
            <div class="ymd">2019년 6월 14일</div>
            <em class="mach_id">chatbot</em>
            <div class="bubble mach_speech"><p>거래 진행은 판매자만 가능합니다.거래 진행은 판매자만 가능합니다.거래 진행은 판매자만 가능합니다.거래 진행은 판매자만 가능합니다.</p></div>
            <div class="chat_dim" id="chatDim"></div>
            <em class="other_id">other</em>
            <div class="bubble other_speech"><p>안녕하세요 &#128513;</p></div>
            <div class="bubble other_speech"><p>거래 요청 드립니다</p></div>
            <em class="my_id">imymemine</em>
            <div class="bubble my_speech"><p>넹 &#128513;</p></div>
            <div class="bubble my_speech"><p>말씀하세요</p></div>
            <div class="ymd">2019년 6월 14일</div>
            <em class="mach_id">chatbot</em>
            <div class="bubble mach_speech"><p>거래 진행은 판매자만 가능합니다.</p></div>
            -->
            <div class="chat_dim" id="chatDim"></div>
        </div>
        <footer class="footer cf">
            <div class="msg_sec cf">
                <button class="btn_at" id="btnAt"><img src="/img/ico_@.png" alt="@"></button>
                <input type="text" class="ipt_chat" id="iptChat" placeholder="메세지를 입력하세요.">
                <button class="btn_send" id="btnSend">Send</button>
            </div>
            <!-- <div class="util_sec cf">
                <button class="btn_sharp">#</button>
                <button class="btn_emoji">&#128513;</button>
            </div> -->
            <div class="at_sec" id="atSec">
                <div class="mach_command machCmd">@마하 거래시작</div>
                <div class="mach_command machCmd">@마하 거래안내</div>
                <div class="mach_command machCmd">@마하 거래중단</div>
                <div class="mach_command machCmd">@마하 거래흥정</div>
                <div class="mach_command machCmd">@마하 거래시작</div>
                <div class="mach_command machCmd">@마하 거래안내</div>
                <div class="mach_command machCmd">@마하 거래중단</div>
                <div class="mach_command machCmd">@마하 거래흥정</div>
            </div>
        </footer>
    </div>
<script>
// 로직 전부다 vanilla JS로 변경
// 완성 후 babel 써서 압축된 파일로 외부JS로 빼서 dist로 실행시키기(보안)
$("#iptChat").keypress(function (event) {
    if (event.which == 13) {
        fnSendMsg();
    }
});

$("#btnSend").on("click", function() {
    fnSendMsg();
});

var serverURL = 'http://192.168.0.10:4000';

//var socket = io.connect(serverURL, { transports: ['websocket'] }); // polling 사용 안함
var socket = io(serverURL, { transports: ['websocket'] }); // polling 사용 안함

// 방 입장
socket.emit('joinroom', { room: '<%=room%>', userId: '<%=userId%>', reconnect: false });

function fnSendMsg() {
    var msgVal = $("#iptChat").val();
    var originMsg = $("#iptChat").val();
    var sendTxt = "";
    var arrComand = ["거래안내", "거래시작"];
    var isCommand = false;
    var regTradingTxt = /^@마하 /;

    if (regTradingTxt.test(msgVal)) {
        sendTxt = msgVal.replace('@마하 ', '');

        var i;
        for (i = 0; i < arrComand.length; i++) {
          if(arrComand[i] == sendTxt){
            isCommand = true;
            break;
          }
        }

        if(isCommand) { // 존재하는 명령어
			socket.emit("trade", { who: "<%=userId%>", to: $('#othername').val(), msg: originMsg, command: i});
			/*
            switch (i) {
                case 0:
                    //$("#chatLogs").append("<div style='color:red'>거래를 시작하고 싶으시면 <em>@마하 거래시작</em> 라고 입력해주세요<br>궁금한게 있으시면 <em>@마하 거래안내</em> 라고 입력해주세요</div>");
					socket.emit("trade", { who: "<%=userId%>", to: $('#othername').val(), msg: msgVal, command: 0});
                    break;
                case 1:
                    //$("#chatLogs").append("<div>상대방에게 거래요청을 하였습니다. 상대방이 거래요청을 누르면 진행됩니다.</div>");
                    socket.emit("trade", { who: "<%=userId%>", to: $('#othername').val(), msg: msgVal, command: 1});
                    break;
                
                default:
                    break;
            }
			*/
        } else { // 없는 명령어
            socket.emit("trade", { who: "<%=userId%>", to: $('#othername').val(), msg: originMsg, command: -1});
            //$("#chatLogs").append("<div>"</div>");
            //$('#content').append('<p class="p_system">'+msgVal+' 라는 명령어는 올바르지 않습니다. 다시 확인하시고 입력해주세요.</p>');
        }

    } else {
        socket.emit('send_msg', { who: "<%=userId%>", to: $('#othername').val(), msg: $('#iptChat').val()});
    }

    $('#iptChat').val('');
    //$("#iptChat").focus();
}

socket.on('new_user', function (data) {
    $('#nickname').val(data.nickname);
    $('#content').append('<p class="p_system">'+data.yymmdd+'</p>');   
});

socket.on('userlist', function (data) {
    var userlist = data.users;
    var myname = $("#nickname").val();
    if(userlist.length > 1) {
        userlist.splice(userlist.indexOf(myname), 1);
        $('#othername').val(userlist[0]);
    }
});

socket.on('trade', function (data) {
	var btn = data.content;
	var dom = '<div class="bubble mach_speech"><p>';
    console.log('trade', data);

	// 상대방 화면에 DOM 생성
    if(data.type === "err") {
        //$('#content').append('<p>'+btn.msg+'</p>');
    } else if(data.type === "btn"){
		// 상대방 화면 돔생성
        switch (data.command) {
            case 0:
				dom += '거래안내를 보시려면 @마하 거래안내라고 입력해주세요.';              
				break;
			case 1:
				dom += '상대방이 거래 시작을 요청하였습니다.<br>거래를 시작하시려면 아래 버튼을 눌러주세요.<span class="chat_time">' + data.msgtime + '</span>';
				dom += '<button id="' + btn.id + '" class="btn_chat '+btn.class +'">' + btn.text + '</button>';                
                break;
            default:
                break;
		}
		dom += '</p></div>';
		$('#content').append(dom);
	} else {
		// 내 화면에 돔생성
		dom += data.mymsg;
		if(data.status === 0) {dom += '<img src="" alt="안내문"/>'}
		dom += '<span class="chat_time">' + data.msgtime + '</span></p></div>';
		$('#content').append(dom);
	}
	
});

socket.on('broadcast_msg', function (data) {
    console.log('broadcast_msg', data);
    var txtChat = '';
    var $my_speech = $('.my_speech');
    var len = $my_speech.length;
    var $chatTimeLast = $my_speech.eq(len-1).children().children('.chat_time');

    if(data.sameUser && $chatTimeLast.text() === data.msgtime){
        $chatTimeLast.css('display', 'none');
    }

    if(!data.sameUser){ // 같은 유저면 아이디 반복 표시 필요없음
        txtChat += '<em class="my_id"><%=userId%></em>';
    } else if($chatTimeLast.text() !== data.msgtime) { // 같은 유저지만 시간이 다른경우 표시
        txtChat += '<em class="my_id"><%=userId%></em>';
    }

    txtChat += '<div class="bubble my_speech"><p>' + data.msg;
    txtChat += '<span class="chat_time">' + data.msgtime + '</span></p></div>';

    $('#content').append(txtChat);

    // 스크롤 자동 최하단 이동
    var bubble = document.querySelectorAll(".bubble");
    if(bubble.length > 1) {
        bubble[bubble.length-1].scrollIntoView(false);
        //var lastY = bubble[bubble.length-1].offsetTop;
        //document.querySelector(".content").scrollTo(0, lastY);
    }
});

socket.on('other_msg', function (data) {
    console.log("other_msg", data);
    var txtChat = '';
    var $my_speech = $('.other_speech');
    var len = $my_speech.length;
    var $chatTimeLast = $my_speech.eq(len-1).children().children('.chat_time');


    if(data.sameUser && $chatTimeLast.text() === data.msgtime){
        $chatTimeLast.css('display', 'none');
    } 

    if(!data.sameUser){ // 같은 유저면 아이디 반복 표시 필요없음
        txtChat += '<em class="other_id">'+ data.who +'</em>';
    } else if($chatTimeLast.text() !== data.msgtime) { // 같은 유저지만 시간이 다른경우 표시
        txtChat += '<em class="other_id">'+ data.who +'</em>';
    }

    txtChat += '<div class="bubble other_speech"><p>' + data.msg;
    txtChat += '<span class="chat_time">' + data.msgtime + '</span></p></div>';

    $('#content').append(txtChat);

    // 스크롤 자동 최하단 이동
    var bubble = document.querySelectorAll(".bubble");
    if(bubble.length > 1) {
        bubble[bubble.length-1].scrollIntoView(false);
        //var lastY = bubble[bubble.length-1].offsetTop;
        //document.querySelector(".content").scrollTo(0, lastY);
    }


    // chatbot, system
    if (data.who==="me") {

    } else { // 챗봇, 시스템, 상대방 3가지 who 더 필요

    }

});

// 시스템 메세지 
socket.on('system_msg', function (data) {
    console.log('system_msg', data);
    $('#content').append('<p class="p_system">'+data.msg+'</p>');
});

// 접속 끊겼을 때
socket.on('reconnect', function (data) {
    console.log('reconnect');
    socket.emit('joinroom', { room: '<%=room%>', userId: '<%=userId%>', reconnect: true });
});

var chatUI = {
    isDim: false,
    init: function() {
        this.fnAt();
        this.orientationchange();
        this.sendMsg();
    },
    fnAt: function() {
        var that = this;

        function hideDim() {
            that.isDim = false;
            document.getElementById("atSec").style.display="none";
            document.getElementById("chatDim").style.display="none";  
        }

        function showDim() {
            that.isDim = true;
            document.getElementById("atSec").style.display="block";
            document.getElementById("chatDim").style.display="block";
        }
        
        document.getElementById("btnAt").addEventListener("click", function(){
            showDim();
        });

        document.getElementById("chatWrap").addEventListener("click", function(e){
            if(e.target.id === "chatDim" && that.isDim){
                hideDim();
            }
        });

        var machCmd = document.querySelectorAll(".at_sec .machCmd");
        var iptChat = document.getElementById("iptChat");
        for (var i = 0; i < machCmd.length; i++) {
            machCmd[i].addEventListener("click", function(e){
                //console.log(e.target.innerText);
                iptChat.value = "";
                iptChat.value = e.target.innerText;
                hideDim();
                // 여기서 메세지 입력되면 됨
            });
        }
    },
    orientationchange: function() {
        window.addEventListener("orientationchange", function() {
            // window.orientation: 90 가로, 0 세로
            document.getElementById("content").addEventListener("click", function(){
                document.getElementById("chatDim").focus();
            });
        });        
    },
    sendMsg: function() {

    }
}    
chatUI.init();
</script>    
</body>
</html>