<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link href="/css/vtr.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="chat_wrap" id="chatWrap">
        <header class="header">
            <p class="status_text"><span id="statusText"></span> 상태</p>
            <h1 class="cf">
                <div class="vtr_category" id="vtrCategory"><%=category%></div>
                <div class="vtr_title ellipse"><%=title%></div>
                <div class="vtr_price" id="vtrPrice"><span id="vtrPriceNum"><%=price%></span> <%=cryptoCurrencyCode%></div>
            </h1>
        </header>
        <div class="content" id="content">
            <div>
                my Name <input type="text" id="nickname" readonly/><br>
                other Name <input type="text" id="othername" readonly/> 
            </div>
 
            <div class="chat_dim" id="chatDim"></div>
        </div>
        <footer class="footer cf">
            <div class="msg_sec cf">
                <button class="btn_at" id="btnAt"><img src="/img/ico_@.png" alt="@"></button>
                <input type="text" class="ipt_chat" id="iptChat" placeholder="메세지를 입력하세요.">
                <button class="btn_send" id="btnSend">Send</button>
            </div>
            <!-- <div class="util_sec cf">
                <button class="btn_sharp">#</button>
                <button class="btn_emoji">&#128513;</button>
            </div> -->
            <div class="at_sec" id="atSec">
                <div class="mach_command machCmd">@마하 거래안내</div>
                <div class="mach_command machCmd sellerCmd">@마하 거래요청</div>
                <div class="mach_command machCmd buyerCmd">@마하 구매확인</div>
                <div class="mach_command machCmd sellerCmd">@마하 판매완료</div>
                <div class="mach_command machCmd buyerCmd">@마하 거래완료</div>
                <div class="mach_command machCmd">@마하 거래취소</div>
            </div>
        </footer>
        <input type="hidden" id="room" value="<%=room%>" />
        <input type="hidden" id="userId" value="<%=userId%>" />
        <input type="hidden" id="buyerTag" value="<%=buyerTag%>" >
        <input type="hidden" id="sellerTag" value="<%=sellerTag%>" >
        <input type="hidden" id="country" value="<%=country%>" >
        <input type="hidden" id="tk" value="<%=token%>" >
        <input type="hidden" id="itemId" value="<%=itemId%>" >
        <input type="hidden" id="tradePrice" value="" >
        <input type="hidden" id="tradeStatus" value="" >
        <input type="hidden" id="serverURL" value="<%=VTRURL%>" >
        <input type="hidden" id="APIServer" value="<%=APIServer%>" >
    </div>
<script>
// 로직 전부다 vanilla JS로 변경
// 완성 후 babel 써서 압축된 파일로 외부JS로 빼서 dist로 실행시키기(보안)
function disableShowCode() {
    var isCtrl = false;
    var isAlt = false;
    document.addEventListener("keydown", function(e) {
        if(e.which == 17) isCtrl = true;
        if(e.which == 18) isCtrl = true;

        if(e.which == 73 && isCtrl == true && isAlt) { // command+option+i
            e.preventDefault();
            e.returnValue = false;
            return false;  
        }  
        if(e.keyCode === 123){ // f12
            e.preventDefault();
            e.returnValue = false;
        }
    });

    document.oncontextmenu=function(){return false;} //마우스 오른쪽
}
// disableShowCode();
</script>    
<script src="/js/socket.js"></script>
<script src="/js/chatUI.js"></script>
</body>
</html>