<!DOCTYPE html>
<html>
<head>
    <title>Waiting</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <!-- 
    나중엔 여기서 유효한 값이 맞는지 API 콜해서 아이디 토큰값 비교하는 로직도 추가해야 함
    -->
    <form action="" method="post" id="frmVtr">
        <input type="hidden" name="room" id="room" value="" >
        <input type="hidden" name="userId" value="<%=userTag%>" >
        <input type="hidden" name="buyerTag" value="<%=buyerTag%>" >
        <input type="hidden" name="sellerTag" value="<%=sellerTag%>" >
        <input type="hidden" name="country" id="country" value="<%=country%>" >
        <input type="hidden" name="category" id="category" value="" >
        <input type="hidden" name="title" id="title" value="" >
        <input type="hidden" name="price" id="price" value="" >
        <input type="hidden" name="itemId" id="itemId" value="" >
        <input type="hidden" name="cryptoCurrencyCode" id="cryptoCurrencyCode" value="" >
    </form>
<script>
    var userTag = "<%=userTag%>";
    var itemId = "<%=itemId%>";
    var buyerTag = "<%=buyerTag%>";
    var sellerTag = "<%=sellerTag%>";
    var country = "<%=country%>";
    var roomNum = buyerTag + "|" + sellerTag + "|" + itemId;
    var url = "/vtr/room/" + roomNum;
    document.getElementById("room").value = roomNum;

    var bodyParam = {};
    bodyParam.itemId = itemId;
    bodyParam.stepValue = "0";
    bodyParam.reqValue = {
        buyerTag: buyerTag,
        sellerTag: sellerTag
    };

    $.ajax({
        url: "/test/call-backend",
        data: JSON.stringify(bodyParam),
        type: "POST",
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    })
    .done(function(json) {
        //console.log(json);
        var frmVtr = document.getElementById("frmVtr");
        frmVtr.setAttribute("action", url);

        $.ajax({
            url: "http://13.209.227.60:3200/v2/items/" + itemId,
            headers: {"token": "<%=token%>"},
            type: "GET",
            contentType: "application/json; charset=utf-8",
        })
        .done(function(result) {
            var item = result.data;
            //console.log(item);

            document.getElementById("category").value = item.category;
            document.getElementById("title").value = item.title;
            document.getElementById("price").value = item.price;
            document.getElementById("cryptoCurrencyCode").value = item.cryptoCurrencyCode;
            document.getElementById("itemId").value = item._id;
            frmVtr.submit();
        })
        .fail(function(xhr, status, error) {
            console.log("채팅방 정보를 가져오는 중에 에러 발생", error);
        });

    })
    .fail(function(xhr, status, error) {
        console.log(error);
        alert("채팅방 생성 중 에러가 발생하였습니다.");
    })
</script>
</body>
</html>