<!DOCTYPE html>
<html>
<head>
    <title>대기방</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <!-- 
    body에 3가지 값 넣어서 API 콜 한후 성공했을 때 내가 챗방URL로 이동
    나중엔 여기서 유효한 값이 맞는지 API 콜해서 아이디 토큰값 비교하는 로직도 추가해야 함
    -->
    <form action="" method="post">
        <p>판매자 <input type="text" name="sellerTag"></p>
        <p>구매자 <input type="text" name="buyerTag"></p>
        <p>게임캐릭터 <input type="text" name="target_game_character"></p>
        <input type="submit" value="방 생성">
    </form>
</body>
</html>