.hidden{visibility: hidden;}
.cf:after{display: block; content: ''; clear: both;}
.ellipse{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal}
.chat_wrap{position: relative; min-width:320px; max-width: 600px; height: 100%; margin: auto; box-sizing: border-box; border: 1px solid #d9d9d9;}
.header{position: relative; padding-left: 80px; height: 80px; box-sizing: border-box;border-bottom: 1px solid; border-image: linear-gradient(45deg, #01c9ca 0%, #3886FF 100%); border-image-slice: 1; border-width: 0 0 1px 0;
    .hdr_menu{padding: 10px 20px 10px 0;
        .status_text{float: left;}
        .btn_trans{float: right; padding: 2px 10px; color: #333; border: 1px solid #0074bd; border-radius: 8px; font-size: 12px;}
    }
    h1{padding: 0 20px 0 0; font-size: 14px; font-weight: 500;
        > div{float: left;}
        .vtr_category{width: 80px;}
        .vtr_title{width: calc(100% - 200px); text-align: center;}
        .vtr_price{float: right; width: 120px; text-align: right; font-size: 12px;}
        .vtr_price > span{font-size: 14px;}
    }
    .btn_out{position: absolute; top: 20px; left: 20px; width: 40px; height: 39px;}
    .btn_out img{width: 100%;}
}