@media (max-width: 414px) {
.ipt_price{width: 130px;}
}
@media (max-width: 321px) {
.header{padding-left: 40px;
    .btn_out{top: 20px; left: 5px; width: 30px; height: 30px;}
}
/********** Korean **********/
.kr_wrap{}
/********** english **********/
.en_wrap .header h1{font-size: 12px;}
.ipt_price{width: 110px;}
}