@charset "utf-8";
/*
* KCS: http://www.onlykcs.com/
* since: 20190518 
* Author: Jongmin Kim
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
