@charset "utf-8";
/*
* KCS: http://www.onlykcs.com/
* since: 20190518 
* Author: Jongmin Kim
*/

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
/********** reset **********/
/* basic */
html, body {width:100%; height:100%; -webkit-overflow-scrolling: touch; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }
html{overflow-y:scroll;}
body{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; word-break:break-all;-ms-word-break:break-all; }
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, table, th, td caption, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:14px; text-align:left;}
ul, ol, li {list-style:none;}
abbr,acronym {border:0;}
img{vertical-align:middle; border:none; max-width: 100%;}
img, fieldset, iframe{border:none;}
em, address{font-style:normal;}
textarea{overflow:auto; resize: none;}
table{border-collapse:collapse; border-spacing:0;}
input, select, textarea{vertical-align:middle;}
strong, em{font-weight: bold;}
a, a:link, a:visited{text-decoration:none;}
a:active, a:hover{text-decoration:none;}
input{box-sizing: border-box;vertical-align: baseline;}
input::placeholder {font-size: 13px;}
input::-webkit-input-placeholder {font-size: 13px;}
input:-ms-input-placeholder {font-size: 13px;}
/* input box color */
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px #fff inset ; -webkit-text-fill-color: #000; } 
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, 
input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }
input::placeholder {font-size: 18px;}
button{border: none; cursor: pointer; background-color: #fff;}
*{outline: none;}
.hidden{visibility: hidden;}
.cf:after{display: block; content: ''; clear: both;}
.ellipse{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal}
.chat_wrap{position: relative; min-width:320px; max-width: 600px; height: 100%; margin: auto; box-sizing: border-box; border: 1px solid #d9d9d9;}
.header{position: relative; padding-left: 80px; height: 80px; box-sizing: border-box;border-bottom: 1px solid; border-image: linear-gradient(45deg, #01c9ca 0%, #3886FF 100%); border-image-slice: 1; border-width: 0 0 1px 0;}
.header .hdr_menu{padding: 10px 20px;}
.header .hdr_menu .status_text{float: left;}
.header .hdr_menu .btn_trans{float: right; padding: 2px 10px; color: #333; border: 1px solid #0074bd; border-radius: 8px; font-size: 12px;}
.header h1{padding: 0 20px; font-size: 16px; font-weight: 500;}
.header h1 > div{float: left;}
.header h1 .vtr_category{width: 80px;}
.header h1 .vtr_title{width: calc(100% - 230px); text-align: center;}
.header h1 .vtr_price{float: right; width: 150px; text-align: right;}
.header .btn_out{position: absolute; top: 0; left: 0; width: 80px; height: 79px;}
.header .btn_out img{width: 40px;}
.content{height: calc(100% - 150px); overflow: scroll;}
.content img[alt="안내문"]{width: 100%;} 
.content > em{display: block; font-weight: 400;}
.content .ymd{text-align: center;}
.content .other_id{margin-left: 15px;}
.content .my_id{text-align: right; margin-right: 15px;}
.content .mach_id{margin-left: 15px;}
.content .other_speech > p{margin-right: 60px; margin-left: 15px; border: 1px solid #d9d9d9;}
.content .my_speech{text-align: right;}
.content .my_speech > p{margin-right: 15px; margin-left: 60px; background-color: #ededed;}
/* .content .mach_speech{padding-left: 80px; background: url("/img/ico_chatbot.png") 25px 50% no-repeat; background-size: 42px 51.5px; } */
.content .mach_speech{padding-left: 80px; background: url("/img/ico_chatbot.png") 15px 50% no-repeat; background-size: 51px 39px; }
.content .mach_speech > p{margin-right: 15px; background-color: #0074bd; color: #ffffff;}
.content .mach_speech > p .chat_time{color: #000000;}
.content .mach_speech button:nth-of-type(1){margin-right: 15px;}
.content .bubble{font-size: 18px;}
.content .bubble > p{position: relative; margin-top: 8px; display: inline-block; max-width: 80%; padding: 15px 15px; line-height: 1.5; font-size: 14px; border-radius: 30px;}
.content .bubble > .max_p{max-width: 100%; padding: 10px;}
.content .bubble .chat_time{position: absolute; bottom: 0; font-size: 11px;}
.content .mach_speech .chat_time{right: -50px;}
.content .other_speech .chat_time{right: -50px;}
.content .my_speech .chat_time{left: -50px;}
.content .p_system{text-align: center;}
/* 버튼 */
.btn_chat{margin-top: 5px; width: 50%; max-width: 120px; height: 35px; border-radius: 6px; font-size: 14px;}
.btn_chat.btn_t_r{}
.btn_chat.btn_p_c{}
.btn_chat.btn_s_c{}
.btn_chat.btn_t_c{}
.ipt_price{width: 150px; height: 30px; font-size: 14px;}

.footer{height: 70px; position: relative;}
.footer .btn_sharp{font-size: 28px;}
.footer .ipt_chat{float: left; margin-top: 5.5px; margin-left: 25px; width: calc(100% - 150px); height: 30px; font-size: 18px; border: none;}
.footer .btn_send{float: right; margin-right: 20px; width: 60px; height: 38px; font-weight: 600; color: #9c9c9c; border: 1px solid #9c9c9c; border-radius: 5px; font-size: 18px;}
.footer .btn_send:active{background-color: #eee;}
.footer .btn_send.on{border-style: solid; border-image: linear-gradient(45deg, #01c9ca 0%, #3886FF 100%); border-image-slice: 1; border-width: 1px; font-weight: bold;}
.footer .btn_at{float: left; margin-top: 4px; margin-left: 15px; width: 30px; height: 30px;}
.footer .btn_emoji{font-size: 30px; line-height: 30px;}
.footer .msg_sec{margin: 0 10px; padding: 7px 0; height: 55px; box-sizing: border-box; font-size: 0; border: 1px solid #d9d9d9; border-radius: 30px;}
.footer .util_sec{float: left;}
.footer .util_sec button{vertical-align: middle;}

.footer .ft_l_sec{width: 40px;}
.footer .ft_l_sec button{width: 100%; height: 40px;}
.footer .ft_c_sec{width: calc(100% - 130px);}
.footer .ft_c_sec input[type="text"]{width: 100%; height: 100%;}
.footer .ft_r_sec{width: 90px; font-size: 0;}
.footer .ft_r_sec button{width: 30px; height: 40px; font-size: 12px;}

.footer .at_sec{display: none; position: absolute; z-index: 2; bottom: 70px; left: 0; width: 100%; padding-top: 15px; background-color: #ffffff;}
.footer .at_sec .mach_command{display: inline-block; margin: 0 0 15px 10px; padding: 0 12px; height: 45px; line-height: 45px; font-size: 14px; border-radius: 30px; border: 1px solid #d9d9d9; cursor: pointer;}
.chat_dim{display: none; position: absolute; z-index: 1; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); width: 100%; height: calc(100% - 70px);}